<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- include world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" value="$(find turtlex_gazebo)/worlds/office_grip_test.world"/>-->
    <!--<arg name="world_name"  value="$(find turtlex_gazebo)/worlds/office.world"/>-->
    <arg name="world_name" value="$(find turtlex_gazebo)/worlds/office_complete.world"/>
  </include>

</launch>
