<?xml version="1.0"?>
<launch>

  <arg name="paused" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="default"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find widowx_arm_description)/robots/widowx_arm.urdf.xacro'"/>
  <!--<param name="robot_description" command="$(find xacro)/xacro '$(find widowx_arm_description)/robots/widowx_arm_sr300.urdf.xacro'"/>-->
  <param name="use_gui" value="True"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find widowx_arm_description)/config/widowx.yaml" command="load"/>
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint1_position_controller joint2_position_controller joint3_position_controller
            joint4_position_controller joint5_position_controller gripper_joint_position_controller joint_state_controller"/>

  <!--<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Gazebo model spawner -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_widowx_urdf"
  args="-urdf -model widowx_arm -x 0 -y 0 -z 0 
  -J joint_1 0 -J joint_2 -1 -J joint_3 1.0 -J joint_4 1.5 -J joint_5 0 -J gripper_joint 0 -param robot_description"/>

  <!-- Launch MoveIt! -->
  <include file="$(find temp_moveit_config)/launch/move_group.launch"/>

</launch>
