<?xml version="1.0" encoding="utf-8"?>
<robot name="rgbd" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="rgbd_main" params="parent">

	<!-- 3D sensor -->
	<xacro:include filename="$(find turtlex_description)/urdf/asus_xtion_pro.urdf.xacro"/>

	<xacro:sensor_asus_xtion_pro parent="${parent}"/>

</xacro:macro>
</robot>
