<?xml version="1.0"?>
<robot name="widowx_arm" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="widowx_arm_main" params="parent">

	<xacro:include filename="$(find turtlex_description)/urdf/widowx.urdf.xacro"/>

	<xacro:widowx_arm parent="${parent}">
		<!-- moving the arm a bit backwards in order to leave some space for the laser sensors on the front -->
		<origin xyz="-0.007 0.0 0.0" rpy="0.0 0.0 0.0"/>
	</xacro:widowx_arm>

</xacro:macro>
</robot>
